@page "/contact"
@inject IHttpClientFactory httpClientFactory

@if (_contact == null)
{
    <div class="text-center">
        <span class="oi oi-cog spin-icon"></span> Loading...
    </div>
}
else
{
    <Title Value="@_contact.PageTitle"></Title>

    <div class="container pb-4">
        <h2>@_contact.Title</h2>
        @_contact.Details

        
    </div>
    <ContactForm></ContactForm>
    
}

@code {
    private ContactModel _contact = new ContactModel();

    protected override async Task OnInitializedAsync()
    {
        var http = httpClientFactory.CreateClient("BlazorResume.AnonymousAPI");
        _contact = await http.GetFromJsonAsync<ContactModel>("api/contact");
    }
}
