<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/dashboard" Match="NavLinkMatch.All">
            <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/hireinator">
            <span class="oi oi-dollar" aria-hidden="true"></span> Hire-inator
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/resume">
            <span class="oi oi-document" aria-hidden="true"></span> Resume
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/jobs">
            <span class="oi oi-clipboard" aria-hidden="true"></span> Jobs
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/about">
            <span class="oi oi-person" aria-hidden="true"></span> About
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="app-admin/settings">
            <span class="oi oi-cog" aria-hidden="true"></span> Settings
        </NavLink>
    </li>
</ul>